input[type=submit] 
{
    background-color: #399143;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 5px 1px;
    cursor: pointer;
}

#reservations
{
	height: 25px;
	align: center;
	size: 4;
}

#logout{

   position:fixed;
   right:10px;
   top:5px;
}

.reserved
{
	border-collapse: collapse;
    width: 50%;
}

th
{
	padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 30px;
}

option
{
	text-align: center;
	font-size: 14px;
}

h1
{
	text-decoration: underline;
	text-shadow: 1px 1px #000000;
	text-align: center;
	font-size: 64px;
	color: #399143;
	
}

.popNumbers
{
	text-align: center;
}

#totalBar 
{
    width: 0%;
    height: 30px;
    background-color: #399143;
    text-align: center;
    line-height: 30px;
    color: white; 
}

#weightBar 
{
    width: 0%;
    height: 30px;
    background-color: #399143;
    text-align: center;
    line-height: 30px;
    color: white; 
}

#racquetBar 
{
    width: 0%;
    height: 30px;
    background-color: #399143;
    text-align: center;
    line-height: 30px;
    color: white; 
}

#poolBar 
{
    width: 0%;
    height: 30px;
    background-color: #399143;
    text-align: center;
    line-height: 30px;
    color: white; 
}

#fieldBar 
{
    width: 0%;
    height: 30px;
    background-color: #399143;
    text-align: center;
    line-height: 30px;
    color: white; 
}

#wolfBar 
{
    width: 0%;
    height: 30px;
    background-color: #399143;
    text-align: center;
    line-height: 30px;
    color: white; 
}

#rockBar 
{
    width: 0%;
    height: 30px;
    background-color: #399143;
    text-align: center;
    line-height: 30px;
    color: white; 
}

#danceBar 
{
    width: 0%;
    height: 30px;
    background-color: #399143;
    text-align: center;
    line-height: 30px;
    color: white; 
}

.myProgress 
{
    width: 200%;
    background-color: grey;
}

.reservedTimes
{
	text-align: center;
	padding: 8px;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}


